
@{
    ViewBag.Title = "YouAreNotAuthorized";
}

<h2>YouAreNotAuthorized</h2>
You Do Not Have Access To This Item. You Must Be The Owner.
<p>

</p>
<p>

</p>
Go to @Html.ActionLink("Home","Index","Home")