@{
    ViewBag.Title = "Busy Mom Helper Home";
}

<div class="jumbotron">
    <h1>Busy Mom Helper</h1>
    <p class="lead">Tired of calling or texting your family about your kids schedules. Well the Busy Mom Helper is here to lend a hand. </p>
    @*<p><a href="https://localhost:44381/home/register" class="btn btn-primary btn-lg">Register Here &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Make your free account and add your family members. You will have control over who can see your child schedule for school activities or sports. 
        </p>
        <p><a class="btn btn-default" href="https://localhost:44381/home/register">Create New Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://localhost:44381/Home/login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>