@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Busy Mom</h1>
    <p class="lead">Tired of calling or texting your family about your kids schedules. Well the Busy Mom Helper is here to lend a hand.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Make your free account and add your family members. You will have control over who can see your child schedule for school activities or sports.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52840/Home/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already Have An Account</h2>
        <p>Login to your account and access your infomation.</p>
        <p><a class="btn btn-default" href="http://localhost:52840/Home/Login">Login &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>